<div class="page-container">
  <app-header></app-header>
  
  <main class="home-content">
    
    <div class="modules-grid">
      <div class="module-card">
        <a routerLink="/maisons-edition" class="module-link">
          <h3>Maisons d'édition</h3>
          <p>Gérer les maisons d'édition</p>
        </a>
      </div>
      
      <div class="module-card">
        <a routerLink="/auteurs" class="module-link">
          <h3>Auteurs</h3>
          <p>Gérer les auteurs</p>
        </a>
      </div>
      
      <div class="module-card">
        <a routerLink="/livres" class="module-link">
          <h3>Livres</h3>
          <p>Gérer les livres</p>
        </a>
      </div>
      
      <div class="module-card">
        <a routerLink="/contacts" class="module-link">
          <h3>Contacts</h3>
          <p>Gérer les contacts</p>
        </a>
      </div>
      
      <div class="module-card">
        <a routerLink="/utilisateurs" class="module-link">
          <h3>Utilisateurs</h3>
          <p>Gérer les utilisateurs</p>
        </a>
      </div>
    </div>
  </main>
  
  <app-footer></app-footer>
</div>
